---
import { A } from '../../../components/A';
import { C } from '../../../components/C';
import { Code } from '../../../components/Code';
import { Note } from '../../../components/Note';
import { P } from '../../../components/P';
import { Title } from '../../../components/Title';
import Layout from '../../../layouts/layout.astro';
import { Details } from '../../../components/Details';
import { Circle } from './Circle';
import { SimpleLine } from './SimpleLine';
import { Chaos } from './Chaos';
import { Info } from '../../../components/Info';
import { ChaosWrong } from './ChaosWrong';
import { ChaosAngles } from './ChaosAngles';
import { ChaosAngles90 } from './ChaosAngles90';
import { CircularDisturbance } from './CircularDisturbance';
import { FeatheredEpicenter } from './FeatheredEpicenter';
import { Hint } from '../../../components/Hint';
import { notes } from '../../notes';

const info = notes['lines'];
---

<Layout>
	<Note>
		<Title subtitle={info.subtitle}>
			{info.title}
		</Title>
		<P>
			After moving into a bigger apartment, I've found the walls of our office to be a bit naked.
			While I'm a hobby photographer and would like to get more into printing my work, for this
			space I have something else in mind.
		</P>
		<P>
			It started with finding out about <em>generative art</em> via
			<A href="https://tylerxhobbs.com/fidenza">Tyler Hobbs' Fidenza</A>. I found the look of this
			type of art very appealing. Maybe because I lack artistic talent, I like the idea of
			<em>guiding</em>
			randomness towards aestethic order, rather than <em>create</em> from scratch.
		</P>
		<P>
			On this page I want to systematically explore techniques and patterns to generate interesting
			structures. To prevent myself from getting lost in the endless possibilities, I will restrict
			myself to <span class="hover:line-through decoration-1 font-bold">straight lines</span>.
		</P>
		<Details title="How do I go about generating my lines?">
			Initially I had two programming languages in mind: <C>Rust</C> or <C>Javascript</C>.
			<C>Rust</C>
			being my favorite language was an obvious choice. However, the dynamic nature of <C>JS</C> lends
			itself to a problem like this. No sense in fighting <C>Rusts</C> borrow-checker for interactive
			code, and the upsides you get in turn don't really come into play here. What further seals the
			deal for me is that <C>JS</C>-based code can be natively embedded right here, on this page.
			<br /><br />
			Next, I was exploring libraries that would make the whole ordeal easier. Top contenders include
			<A href="https://p5js.org/">p5js</A>, <A href="https://ptsjs.org/">Pts.js</A> and
			<A href="http://paperjs.org/">Paper.js</A>. Ultimately, I came to the conclusion that I don't
			need the extensive feature sets of any of these libraries. Animation, physics and geometry
			utilities are nice-to-haves but unlikely to see any use in my use-case. Instead, all I really
			need is a way to programatically draw lines, ideally in a way that I can get a high-resolution
			image out of it somehow for print. And what better way to do this than with our good old
			friend, the <C>SVG</C>. So I just directly construct <C>SVGs</C> in my <C>SolidJS</C> components.
		</Details>
		<P>So without further ado, let's draw some lines!</P>
		<Circle />
		<P>
			Wait, that's not a straight line! I just wanted to make sure you're paying attention. <q
				>Many infinitesimally small straight lines can approximate a curve</q
			>, you might say. <q>That violates the spirit of the exercise, you silly goose</q>, I would
			retort.
		</P>
		<SimpleLine />
		<P>
			Much better, we're checking all the boxes. Well, the one. If I was a famous artist already, I
			would hang this on the wall and have critics say clever sounding things about it. Alas, I need
			to try a bit harder. Let's try to bring some repetition into the mix, and while we're at it,
			some <span class="hover:rotate-45 transition inline-block">randomness</span>.
		</P>
		<Info>
			Note that all the pieces on this page that contain randomness are uniquely generated for each
			page view. Consider yourself special!
		</Info>
		<Chaos client:only="solid-js" />
		<P>Now we're getting somewhere! It's no masterpiece, but I don't hate it.</P>
		<Details title="Excursion into wrong transforms">
			<P>
				Before I arrived at the above piece, my makeshift <C>SVG</C> rendering blessed me with this abomination:
			</P>
			<ChaosWrong client:only="solid-js" />
			<P>
				The problem here is the the origin of the rotational transform. You see, drawing a line that
				is not horizontal in an <C>SVG</C> could be accomplished by providing the start and endpoint
				(which do not have the same <C>y</C>
				coordinate) explicitly. When generating lots of randomly rotated lines of the same length, we
				have to do some trigonometry to figure out one of those points. And I for one don't have time
				to use my brain like that.
			</P>
			<P>
				Instead, I want to draw my line horizontally, and then rotate it using the <C>rotate</C> transform
				that <C>SVG</C> provides.
			</P>
			<Code
				respectMargin
				value={`<svg width="600" height="400" xmlns="http://www.w3.org/2000/svg">
	<line x1={x} y1={y} x2={x + 50} y2={y} transform="rotate(rand())" stroke="black" />
</svg>`}
			/>
			<P>
				This way I don't have to do any math, just generate random numbers for the rotation. As it
				turns out, this doesn't work correctly as we have seen above. The lines are rotated about
				the
				<C>(0, 0)</C> origin instead of the center point of the line. To fix it, we either set the
				<C>transform-origin</C> property on the <C>SVG</C> correctly, or we get fancy:
			</P>
			<Code
				respectMargin
				value={`<svg width="600" height="400" xmlns="http://www.w3.org/2000/svg">
	<line x1="-25" y1="0" x2="25" y2="0" 
		transform="rotate(rand()), translate(rand(), rand())" stroke="black" />
</svg>`}
			/>
			<P>
				We draw lines with center points on the origin and use the <C>transform</C> both for rotation
				<em>and for translation</em>. This way we don't have to set the origin of transformation.
				Note the order of the transforms: They are applied from right to left. If we first
				translated, we would have the wrong transform origin again.
			</P>
		</Details>
		<P>
			While the above piece starts to look interesting, we have a bad case of <em
				>untamed randomness</em
			>. We might get more visually appealing structures by restricting e.g. the angle of the lines.
		</P>
		<ChaosAngles client:only="solid-js" />
		<P>
			At this point I'm not sure if there is an optical illusion with all these
			specs-of-dust-looking things between the lines or my monitor is dirty. We will never know.
		</P>
		<ChaosAngles90 client:only="solid-js" />
		<P>
			Adding more, smaller lines and rotating them around by 90 degrees makes this look a bit like
			rain. What if we try segmenting our piece into multiple regions with distinct handling of
			rotations? Let's say we keep all the angles at exactly 0 degrees, unless the midpoints of the
			lines are within a given distance of some random point. For these, we generate rotations
			between 80 and 100 degrees. We expect to see some area of <em>disturbance</em> around our chosen
			point.
		</P>
		<CircularDisturbance client:only="solid-js" />
		<P>
			That's quite nice! But that sharp transition between horizontal and vertical lines is almost
			screaming for a nicely feathered approach. What if we use the distance between the center
			point of a line and our <C>epicenter</C> to tune the rotation of the line? Say, the closer the
			line, the more upright, i.e. 90 degrees, the line is.
		</P>
		<FeatheredEpicenter client:only="solid-js" />
		<Info>
			Fun fact: At this point in writing this note, the <C>/notes/lines</C> page you're currently viewing
			can be server-side rendered approximately 40 times per second. Compare that to 1000 times per second
			for the landing page! All that <C>SVG</C> generation already takes its toll on my little server.
			I think I'll have your browser do all the work instead and turn off server-side rendering for this
			page.
		</Info>
		<P>
			Alright, that turned out less interesting than expected. Maybe we're overdoing it with the
			randomness a bit. Currently there is nothing really of interest to see, everything is kind of
			the same, <em>arbitrary</em>. When we look at other works of generative art, we can often see
			artist driven <q>macro features</q>. Only the details are left to chance. They feel a lot more
			deliberate than what I've been pumping out here. So let's give that a shot instead.
		</P>
		<Hint>Work in progress</Hint>
	</Note>
</Layout>
