---
import Layout from '../../../layouts/layout.astro';
import { Note, Title, P, H2, H3, Img, A, Details, LiD } from '../../../components';
import { notes } from '../../notes';
import ux1 from './ux1.jpg';
import ux2 from './ux2.jpg';
import ux3 from './ux3.jpg';
import ux4 from './ux4.jpg';
import ux5 from './ux5.jpg';
import ux6 from './ux6.jpg';
import ux7 from './ux7.jpg';
import ux8 from './ux8.jpg';
import app1 from './app1.png';
import app2 from './app2.png';
import app3 from './app3.png';
import app4 from './app4.png';

const info = notes['rest-quest'];
---

<Layout>
	<Note>
		<Title
			subtitle={info.subtitle}
			date={info.date}>
			{info.title}
		</Title>
		<P>
			After building <A href="/notes/fieldnotes">Fieldnotes</A>, I was hooked on side-projects. It
			was a ton of fun to build something that would end up actually being useful daily. However,
			the scope creep that overwhelmed me with Fieldnotes made me a bit wary to just repeat the same
			thing. Instead, I set myself up for a much more structured journey this time. You can read a
			synopsys about this <A href="/notes/16-hour-projects">here</A>. But in this note I'll showcase
			<A href="https://rest.quest">rest.quest</A> specifically, outline in more detail the design process
			and elaborate on the learnings.
		</P>
		<H2>Features</H2>
		<P>
			<A href="https://rest.quest">rest.quest</A> is a tiny, opinionated to-do list. There is no backend
			component, hence also no sign up. It primarily stores data in the browser. The user can optionally
			provide credentials for an S3-compatible object storage bucket to synchronize the state directly
			from the browser to the bucket.</P
		>
		<Img src={app1} />
		<P>
			On the left, vertically centered, is a list of projects. All the to-do items (or
			<em>quests</em> if you will) in the selected project are layed out in a 2d grid taking up the rest
			of the screen. Already you can gauge the vibe of this application: It's downright
			<em>brutalist</em> in design. There is no distraction in sight. Only relevant information.
		</P>
		<P>
			The application is highly keyboard-driven: By hitting <b>n</b> on the keyboard, a new text input
			field appears in the next available spot at the end of the list. Checking off an item is a matter
			of clicking on the text of the item itself. An items description can be editing by clicking on
			the <b>Edit</b> button that appears next to it on hover.
		</P>
		<P>
			When items are checked off, they leave a gap to visualize the progress you've made in working
			through your list.
		</P>
		<Img src={app4} />
		<P>
			The quest view can be switched between the default with gaps, one where the checked off items
			are shown as strikethrough, or one that doesn't show the old items at all.
		</P>
		<Img src={app2} />
		<P>
			The landing page doubles as the help page, explaining all the shortcuts and the S3 sync
			feature.
		</P>
		<Img src={app3} />
		<P>
			When S3 credentials are added to the configuration screen, the application will synchronize
			its state with the remote bucket. So by adding the same credentials to another instance of the
			app, say one on your private and one on your work machine, they will stay in sync. The
			credentials stay on your device in the browsers local storage.
		</P>
		<H2>Motivation</H2>
		<P>
			I'm a forgetful person. For a long time I would just surrender to that fact and, you know,
			forget stuff all the time. At some point I decided to take matters into my own hands and start
			using to-do lists seriously. With Todoist as my application of choice, I quickly realized how
			much better it feels to not just let random thoughts fall through the cracks. As the initial
			excitement tapered off however, I started slipping into old habits.
		</P>
		<P>
			I identified the sluggishness and friction in Todoist as a hurdle keeping me from using my
			to-do list consistently. So when I was looking for a quick project to try my
			<A href="/notes/16-hour-projects">16-hour concept</A> a to-do list replacement special-tailored
			to my needs jumped out at me.
		</P>
		<H2>Process</H2>
		<P>First, I set up a schedule for this project:</P>
		<ul class="pb-4">
			<LiD>2 hours for the initial technical setup and deployment</LiD>
			<LiD>2 hours for the UI/UX concept (including feature set)</LiD>
			<LiD>6 hours for implementation of basic features</LiD>
			<LiD>4 hours for implementation of advanced features</LiD>
			<LiD>2 hours of reserve</LiD>
		</ul>
		<P>
			Notably, I set the schedule <em>before</em> I even knew what features I would want. The scope would
			have to fit the available time.
		</P>
		<P>
			First, I set up a <A href="https://www.solidjs.com/">SolidJS</A> (new to me at this point) project
			and deployed it to Github Pages (later I would migrate it to my Hetzner VPS). Getting a "Hello
			world" version of a project deployed first is something I always do since that time a version of
			Fieldnotes didn't even get deployed before it was obsoleted by the next version.
		</P>
		<div class="md:w-1/2 w-full mx-auto">
			<Img src={ux3} />
		</div>
		<P>
			Next, I started aimlessly scribbling on a piece of paper the feature set, how every UI element
			should look and behave etc. Some features sketched out here made it into the app, others
			didn't. In just about 2 hours quite a few novel ideas came to mind that wouldn't have, had I
			just started writing code from the start.
		</P>
		<Details title="Full UX concept">
			<div class="md:w-1/2 w-full mx-auto">
				<Img src={ux1} />
				<Img src={ux2} />
				<Img src={ux3} />
				<Img src={ux4} />
				<Img src={ux5} />
				<Img src={ux6} />
				<Img src={ux7} />
				<Img src={ux8} />
			</div>
		</Details>
		<P>
			Finally, I actually built the application in a couple of hours of effort with a clear plan in
			mind. Still, stretching out this process over multiple evenings, helps step back from tricky
			problems and overall improves the quality of the work.
		</P>
		<H2>Architecture</H2>
		<P>
			The application is frontend-only, originally as a consequence of the time constraint. As I
			started sketching out how this could work without a backend, I fell in love with the
			simplicity and elegance of this approach. The way I built it now, it comes with a number of
			advantages:
		</P>
		<ul class="pb-4">
			<LiD>Implementation effort is drastically lower</LiD>
			<LiD>The software is vastly more accessible as there is no sign up</LiD>
			<LiD>Offline functionality comes practically for free</LiD>
			<LiD>The user gets to bring their own storage backend</LiD>
		</ul>
		<P>There are disadvantages too, of course. This approach does not suit all applications:</P>
		<ul class="pb-4">
			<LiD>Non-technical user doesn't know what an S3 bucket is</LiD>
			<LiD>Advanced features like sharing a list with a third-party would be hard to pull off</LiD>
			<LiD>Less efficient synchronization (more data being sent and received)</LiD>
		</ul>
		<H3>Deployment</H3>
		<H2>Learnings</H2>
		<P>Explorative quality of paper as a medium</P>
	</Note>
</Layout>
