---
import Layout from '../../../layouts/layout.astro';
import { Note, Title, P, H2, H3, Img, A, Details, C, Li, Info } from '../../../components';
import { notes } from '../../notes';
import { Code } from '../../../components';
import { Hint } from '../../../components';
import ux1 from './ux1.jpg';
import ux2 from './ux2.jpg';
import ux3 from './ux3.jpg';
import ux4 from './ux4.jpg';
import ux5 from './ux5.jpg';
import ux6 from './ux6.jpg';
import ux7 from './ux7.jpg';
import ux8 from './ux8.jpg';

const info = notes['rest-quest'];
---

<Layout>
	<Note>
		<Title
			subtitle={info.subtitle}
			date={info.date}>
			{info.title}
		</Title>
		<P>
			After building <A href="/notes/fieldnotes">Fieldnotes</A>, I was hooked on side-projects. It
			was a ton of fun to build something that would end up actually being useful daily. However,
			the scope creep that overwhelmed me with Fieldnotes made me a bit wary to just repeat the same
			thing. Instead, I set myself up for a much more structured journey this time. You can read a
			synopsys about this <A href="/notes/16-hour-projects">here</A>. But in this note I'll showcase
			<A href="https://rest.quest">rest.quest</A> specifically, outline in more detail the design process,
			and elaborate on the learnings.
		</P>
		<H2>Motivation</H2>
		<P
			>I'm a forgetful person. For a long time I would just surrender to that fact and, you know,
			forget stuff all the time. At some point I decided to take matters into my own hands and start
			using to-do lists seriously. With Todoist as my application of choice, I quickly realized how
			much better it feels to not just let random thoughts fall through the cracks. As the initial
			excitement tapered off however, I started slipping into old habits.</P
		>
		<div class="md:w-1/2 w-full mx-auto">
			<Img src={ux3} />
		</div>
		<Details title="Full UX concept">
			<div class="md:w-1/2 w-full mx-auto">
				<Img src={ux1} />
				<Img src={ux2} />
				<Img src={ux3} />
				<Img src={ux4} />
				<Img src={ux5} />
				<Img src={ux6} />
				<Img src={ux7} />
				<Img src={ux8} />
			</div>
		</Details>
	</Note>
</Layout>
