---
import { NoteSummary, WidePage } from '../components';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { notes } from './notes';

const posts = (await getCollection('notes')).sort(
	(a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout>
	<WidePage>
		<div class="flex flex-col gap-4 w-fit xl:w-full mx-auto">
			{
				Object.values(notes)
					?.filter((note) => !note.draft || import.meta.env.DEV)
					.map((note) => (
						<NoteSummary
							title={note.title}
							summary={note.subtitle}
							date={note.date}
							link={note.link}
						/>
					))
			}
			{
				posts
					?.filter((post: any) => !post.data.draft || import.meta.env.DEV)
					?.map((note: any) => (
						<NoteSummary
							title={note.data.title}
							summary={note.data.subtitle}
							date={note.data.date}
							link={`/notes/${note.id}`}
						/>
					))
			}
		</div>
	</WidePage>
</Layout>
